<div class="container mt5">
  <div class="row" *ngIf="product">
    <div class="col-6">
      <img
        [src]="product.pictureUrl"
        [alt]="product.name"
        class="img-fluid w-100"
      />
    </div>
    <div class="col-6">
      <h3>{{ product.name }}</h3>
      <p style="font-size: 2em;">{{ product.price }}</p>
      <div class="d-flex justify-content-start align-items-center">
        <i (click)="decrementItemQuantity()" class="fa fa-minus-circle text-warning add-item"></i>
        <span class="mx-2 item-count">{{quantity}}</span>
        <i (click)="incrementItemQuantity()" class="fa fa-plus-circle text-warning remove-item"></i>
        <button (click)="addItemToBasket()" class="btn btn-outline-primary btn-lg ms-4">
          Add to Cart
        </button>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 ms-3">
        <h4>Description</h4>
        <p>{{ product.description }}</p>
      </div>
    </div>
  </div>

  <!-- <ng-template #loadingOrError>
    <h1>Error al cargar el producto, intentar de nuevo</h1>
  </ng-template> -->
</div>
