<div class="container">
  <div class="row">
    <section class="col-3 mt-3">
      <ng-container *ngIf="productBrands && productTypes">
        <h5 class="text-warning">Sort</h5>
        <select
          class="form-select mb-3"
          aria-label="Sort products"
          (change)="onSortSelected($event.target.value)"
        >
          <option *ngFor="let sort of sortOptions" [value]="sort.value">
            {{ sort.name }}
          </option>
        </select>
        <h5 class="text-warning">Brands</h5>
        <ul class="list-group my-3">
          <li
            class="list-group-item"
            [class.active]="productBrand.id === shopParams.productBrandId"
            *ngFor="let productBrand of productBrands"
            [value]="productBrand.id"
            (click)="onProductBrandSelected(productBrand.id)"
          >
            {{ productBrand.name }}
          </li>
        </ul>
        <h5 class="text-warning">Types</h5>
        <ul class="list-group my-3">
          <li
            class="list-group-item"
            [class.active]="productType.id === shopParams.productTypeId"
            *ngFor="let productType of productTypes"
            [value]="productType.id"
            (click)="onProductTypeSelected(productType.id)"
          >
            {{ productType.name }}
          </li>
        </ul>
      </ng-container>
    </section>
    <section class="col-9">
      <div *ngIf="products" class="d-flex justify-content-between align-items-center pb-2">
        <app-pagin-header
          [totalCount]="totalOfProducts"
          [pageSize]="shopParams.pageSize"
          [pageNumber]="shopParams.pageNumber"
        ></app-pagin-header>
        <div class="d-flex">
          <input
            (keyup.enter)="onSearch()"
            class="form-control"
            type="text"
            #search
            placeholder="Search..."
          />
          <button (click)="onSearch()" class="btn btn-outline-primary mx-2">
            Search
          </button>
          <button (click)="onResent()" class="btn btn-outline-success">
            Reset
          </button>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-3">
        <div class="col" *ngFor="let product of products">
          <app-product-item [product]="product"></app-product-item>
        </div>
      </div>
      <div class="d-flex justify-content-center" *ngIf="totalOfProducts > 0">
        <app-pager
          [totalCount]="totalOfProducts"
          [pageSize]="shopParams.pageSize"
          [pageNumber]="shopParams.pageNumber"
          (pageChanged)="onPageChanged($event)"
        >
        </app-pager>
      </div>
    </section>
  </div>
</div>
